<?xml version="1.0" encoding="utf-8"?>
<configuration><connectionStrings><add name="statisticsEntities" connectionString="metadata=res://*/StatisticsDB.csdl|res://*/StatisticsDB.ssdl|res://*/StatisticsDB.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=localhost;User Id=root;password=pbvu7000;database=statistics&quot;" providerName="System.Data.EntityClient" /></connectionStrings></configuration>